
.pager {
  margin: 0;
  padding: 0;
}

.pager li {
  display: inline-block;
}

.pager-hide {
  opacity: .2;
}

.pager-hide a {
  cursor: default;
}

.pager-active {
  font-weight: bold;
}

.pager-page,
.pager-dots {
  display: inline-block;
  width: 40px;
  margin: 0 3px;
  padding: 0;
  text-align: center
}

.pager li.pager-active a {
  font-weight: bold;
  border-color: #ddd;
}

.pager li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  border-radius: 3px;
  border: 1px solid #eee;
  line-height: 20px;
  margin: 0 2px;
  color: #2a2a2a;
}
